/*
* Copyright 2017 Abed Tony BenBrahim <tony.benrahim@10xdev.com>
*     and Gwt-JElement project contributors.
*
* Licensed under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License. You may obtain a copy of
* the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
* WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
* License for the specific language governing permissions and limitations under
* the License.
*/

package ${basePackage}.core;

public class Js {

    public static final String TYPE_STRING = "String";
    public static final String TYPE_DATE = "Date";
    public static final String TYPE_NUMBER = "Number";
    public static final String TYPE_OBJECT = "Object";
    public static final String TYPE_BOOLEAN = "Boolean";
    public static final String TYPE_ARRAY = "Array";
    public static final String TYPE_NULL = "Null";
    public static final String TYPE_UNDEFINED = "Undefined";
    public static final String TYPE_SYMBOL = "Symbol";
    public static final String TYPE_FUNCTION = "Function";
    public static final String TYPE_ERROR = "Error";
    public static final String TYPE_REGEXP = "RegExp";
    public static final String TYPE_PROMISE = "Promise";
    public static final String TYPE_ARRAY_BUFFER = "ArrayBuffer";
    public static final String TYPE_INT8_ARRAY = "Int8Array";
    public static final String TYPE_UINT8_ARRAY = "Uint8Array";
    public static final String TYPE_UINT8_CLAMPED_ARRAY = "Uint8ClampedArray";
    public static final String TYPE_INT16_ARRAY = "Int16Array";
    public static final String TYPE_UINT16_ARRAY = "Uint16Array";
    public static final String TYPE_INT32_ARRAY = "Int32Array";
    public static final String TYPE_UINT32_ARRAY = "Uint32Array";
    public static final String TYPE_FLOAT32_ARRAY = "Float32Array";
    public static final String TYPE_FLOAT64_ARRAY = "Float64Array";

    public static native <T> JsObject<T> with(JsObject<T> object, String key, T value)/*-{
        object[key] = value;
        return object;
    }-*/;

#foreach($primitiveType in ${GWT_PRIMITIVE_TYPES})
    public static native <T> JsObject<T> with(JsObject<T> object, String key, $primitiveType value)/*-{
        object[key] = value;
        return object;
    }-*/;

#end
    public static <T> JsObject<T> with(JsObject<T> object, String key, long value) {
        return with(object, key, (double) value);
    }

    public static native <T> T set(JsObject<T> object, String propertyName, T value) /*-{
        return object[propertyName] = value;
    }-*/;

    public static native <T> T set(JsObject<T> object, double index, T value) /*-{
        return object[index] = value;
    }-*/;

#foreach($primitiveType in ${GWT_PRIMITIVE_TYPES})
    public static native $primitiveType set(JsObject object, String propertyName, $primitiveType value) /*-{
        return object[propertyName] = value;
    }-*/;

    public static native <T> $primitiveType set(JsObject<T> object, double index, $primitiveType value) /*-{
        return object[index] = value;
    }-*/;

#end
    public static long set(JsObject object, String propertyName, long value) {
        return (long) set(object, propertyName, (double) value);
    }

    public static long set(JsObject object, double index, long value) {
        return (long) set(object, index, (double) value);
    }


    public static native <T> T get(JsObject<T> object, String propertyName) /*-{
        return object[propertyName];
    }-*/;

    public static native <T> T get(JsObject<T> object, double index) /*-{
        return object[index];
    }-*/;

#foreach($primitiveType in ${GWT_PRIMITIVE_TYPES})
    public static native $primitiveType get${display.capitalize($primitiveType)}(JsObject object, String propertyName) /*-{
        return object[propertyName];
    }-*/;

    public static native $primitiveType get${display.capitalize($primitiveType)}(JsObject object, double index) /*-{
        return object[index];
    }-*/;

#end

    public static long getLong(JsObject object, String propertyName) {
        return (long) getDouble(object, propertyName);
    }

    public static long getLong(JsObject object, double index) {
        return (long) getDouble(object, index);
    }

    public static native <T> boolean has(JsObject<T> object, String propertyName) /*-{
        return propertyName in object;
    }-*/;

    public static native <T> boolean has(JsObject<T> object, double index) /*-{
        return index in object;
    }-*/;

    public static native <T> boolean delete(JsObject<T> object, String propertyName) /*-{
        return delete object[propertyName];
    }-*/;

    public static native <T> boolean delete(JsObject<T> object, double index) /*-{
        return delete object[index];
    }-*/;

    public static native boolean isTrue(Object object)/*-{
        return !!object;
    }-*/;

    public static native boolean exists(Object object)/*-{
        return !!object;
    }-*/;

    public static native boolean isFalse(Object object)/*-{
        return !object;
    }-*/;

    public static native boolean isEqual(Object object1, Object object2)/*-{
        return object1 == object2;
    }-*/;

    public static native boolean isStrictlyEqual(Object object1, Object object2)/*-{
        return object1 === object2;
    }-*/;

    public static final <T> T cast(Object object){
        return (T) object;
    }

    public static native boolean isUndefined(JsObject object, double index) /*-{
        return object[index] === undefined;
    }-*/;

    public static native void call(JsObject object, Object value) /*-{
        object(value);
    }-*/;

    public static native void call(JsObject object, double value) /*-{
        object(value);
    }-*/;

    public static native String typeName(Object object) /*-{
        return Object.prototype.toString.call(object).replace(/(?:\[object |])/g, '');
    }-*/;

    public static native boolean isTypeName(Object object, String typeName) /*-{
        return Object.prototype.toString.call(object).replace(/(?:\[object |])/g,'') === typeName;
    }-*/;

    public static native Object symbol() /*-{
        return Symbol();
    }-*/;

}

